{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost_union/highlights

    Boost Union highlights partial template.

    Context variables required for this template:
    * highlights - The configured highlights list with:
      * iconurl - The URL of the icon image file for the highlight
      * title - The title for the highlight
      * description - The description for the highlight
      * link - The URL for the highlight tile
      * linktargetnewtab - The flag if the link should open in a new tab
    * highlightsdismissible - The fact that the highlights section is dismissible

    Example context (json):
    {
        "highlights": [
            {
                "iconurl": "https://example.com/icon.png",
                "title": "Featured Courses",
                "description": "Browse our most popular courses",
                "link": "/course",
                "linktargetnewtab": false
            }
        ],
        "highlightsdismissible": true
    }
}}
{{#showhighlights}}
<div aria-live="polite" id="themeboostunionchildhighlights-wrapper" class="container-fluid pb-3 highlights-wrapper{{#highlightsdismissible}} alert alert-dismissible{{/highlightsdismissible}}" role="{{#highlightsdismissible}}alert{{/highlightsdismissible}}">
  {{#highlightsdismissible}}
    <button type="button" id="themeboostunionchildhighlightsclose" class="close" data-dismiss="alert" aria-label="{{#str}}closebuttontitle{{/str}}">
      <span aria-hidden="true">&times;</span>
    </button>
  {{/highlightsdismissible}}
  {{#highlightsectiontitle}}
    <h3>{{highlightsectiontitle}}</h3>
  {{/highlightsectiontitle}}
  <div class="row px-3 highlights-container">
    {{#highlights}}
    <div class="{{#issinglehighlight}}issinglehighlight{{/issinglehighlight}}{{^issinglehighlight}}multiple-highlights{{/issinglehighlight}}">
      <div class="card h-100 highlight-tile {{#issinglehighlight}}col-12 col-sm-12 col-md-6 mx-auto{{/issinglehighlight}}">
        {{#link}}
        <a href="{{link}}" aria-label="{{ title }}" {{#linktargetnewtab}}target="_blank" rel="noopener noreferrer"{{/linktargetnewtab}} class="highlight-link">
        {{/link}}
          <div class="card-body d-flex flex-row">
            {{#iconurl}}
            <div class="highlight-icon mb-3">
              <img src="{{iconurl}}" class="img-fluid" alt="{{title}}" />
            </div>
            {{/iconurl}}
            <div>
              {{#title}}
              <h4 class="card-title highlight-title">{{title}}</h4>
              {{/title}}
              {{#description}}
              <p class="card-text highlight-description">{{description}}</p>
              {{/description}}
            </div>
          </div>
        {{#link}}
        </a>
        {{/link}}
      </div>
    </div>
    {{/highlights}}
  </div>
</div>
{{/showhighlights}}